@font-face {
  font-family: "futhark";
  src: url("./font/futhark.eot");
  src: url("./font/futhark.eot?#iefix") format("embedded-opentype"),
    url("./font/futhark.ttf") format("truetype"),
    url("./font/futhark.svg#futhark") format("svg"),
    url("./font/futhark.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.rune {
  font-family: "futhark";
  text-anchor: middle;
  /*alignment-baseline: central;*/
}

.reversed {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.token {
  width: 3rem;
  height: 3rem;
  margin: 0.25rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.token.pointer,
.token.pointer sup,
.token.pointer span {
  cursor: pointer;
}

.token sup {
  color: #c00;
  font-size: 0.8rem;
  align-self: baseline;
}

.token span {
  color: #473928;
}

svg,
.canvas,
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* SVG */
.star {
  stroke: #473928;
  stroke-linejoin: round;
  stroke-width: 0.5px;
  fill: #c1b08b;
}

.circle {
  stroke: #a7453f;
}

.inner-circle {
  fill: #fef7ed;
}

.middle-circle {
  fill: #efead3;
}

.position-rune {
  fill: #c00;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 10px;
  cursor: pointer;
  /*
      stroke: #000;
      stroke-opacity: 0.1;
      stroke-width: 5;
    */
}

.meaning-rune {
  fill: #473928;
  font-size: 16px;
  /*stroke: #c1b08b;
    stroke-width: 2px;
    stroke-opacity: 0.75;
    stroke-linejoin: bevel;
    stroke-linecap: round;
    font-weight: bold;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.rune-link {
  stroke-width: 0;
  /*stroke: #000000;*/
  stroke-opacity: 0.25;
  fill: #442222;
  fill-opacity: 0.25;
}

.rune-link:hover {
  fill-opacity: 1;
}
/* END SVG */

.text-editor-theme-description .ProseMirror {
  font-size: 0.8rem;
  color: #c00;
}

.text-editor-toolbar .text-editor-button.text-editor-red-button {
  background-color: rgba(255, 0, 0, 0.3);
}

.text-editor-toolbar .text-editor-button.text-editor-red-button:hover {
  background-color: rgba(255, 0, 0, 0.7);
}

.text-editor-toolbar .text-editor-button.text-editor-green-button {
  background-color: rgba(0, 128, 0, 0.3);
}

.text-editor-toolbar .text-editor-button.text-editor-green-button:hover {
  background-color: rgba(0, 128, 0, 0.7);
}

.text-editor-toolbar .text-editor-button.text-editor-blue-button {
  background-color: rgba(0, 0, 255, 0.3);
}

.text-editor-toolbar .text-editor-button.text-editor-blue-button:hover {
  background-color: rgba(0, 0, 255, 0.7);
}

footer a {
  color: #039be5;
  text-decoration: none;
}

.bubble-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  z-index: 99999;
}
